<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="chat-container">
    <div class="channels">
      <h2>Canales</h2>
      <div class="channel active" data-channel="general">General</div>
      <div class="channel" data-channel="soporte">Soporte</div>
    </div>
    <div class="messages" id="messages"></div>
    <div class="message-input">
      <input type="text" id="messageInput" placeholder="Escribe un mensaje...">
      <button id="sendButton">Enviar</button>
    </div>
    </div>
      <!-- Puedes ponerlo dentro de chat-main o como header -->
      <div style="text-align: right; padding: 10px;">
      <button id="logoutButton">Cerrar sesión</button>
    </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
